body {
  margin: 0;
  height: 100%;
}
#swipe {
  position: absolute;
  left: 1px;
  right: 1px;
  z-index: 999;
  top: 0px;
  margin-top: -4px;
}

.mapContainer{
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#olmap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#infoLeft {
  position: absolute;
  left: 2.5em;
  z-index: 999;
  top: .5em;
  color: wheat;
}

#infoRight {
  position: absolute;
  right: 3.5em;
  z-index: 999;
  top: .5em;
  color: lightgrey;
}

#appTitle {
  text-align: center;
}
#appTitle > h3 {
  padding-left:15px; 
  margin-top:1px;
  font-size: x-large;
  display: inline-block;
  color: aliceblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#layerselect {
  width: 200px;
}

.menuButtons > * {
  margin-left:10px;
}

/* .menuHideShowButton{
  font-size: 16px;
  color: white;
  width: 52px; height: 52px;
  text-align: right;
}
.menuHideShowButton:hover {
  font-weight: bold;
  color: #bef6fd;
} */

.ant-menu-inline-collapsed >.ant-menu-item {
  padding-inline: 10px;
}

.ant-layout-header {
  background-image: linear-gradient(to right, 
  rgba(255, 255, 255, 1) 0%,
  rgba(0, 0, 0, 1) 100%);
}